body {

height: 100vh;
width: 100vw;
margin: 0; 

.pantalla-entera {
    width: 100vw;
    height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;




.barra-arriba {
    width: 95%;
    height: 12%;
    background-color: rgb(24, 151, 151);
    display: flex;
    justify-content: center;
    align-items: center;

   
   }
}


  .pantallas {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 80%;

    .pantalla-arriba {
        width: 100%;
        height: 50%;
        background-color: aqua;
display: flex;
flex-direction: row;
  
.pantalla-arriba-parte-izquierda { 
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .barra-arriba-cuadrado-pantalla-arriba-izquierda { 
width: 60%;
height: 20%;
background-color: brown;
  }

 .cuadrado-pantalla-arriba-izquierda { 
  width: 60%;
height: 70%;
background-color: rgb(173, 163, 163);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 
  .barra-adentro-pantalla-ariiba-izquierda { 
    width: 80%;
    height: 15%;
    margin: 3%;
    background-color: rgb(255, 255, 255);
  }

  .barra-distinta-adentro-pantalla-ariiba-izquierda { 
    width: 80%;
    height: 15%;
    margin: 3%;
    background-color: aqua;
  }
 }
}

.pantalla-arriba-parte-derecha { 
  width: 70%;
  height: 100%;
  
}


    }
    .pantalla-abajo {
        width: 100%;
        height: 65%;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        

        .pantalla-baja-parte-de-escritura { 
          width: 100%;
          height: 40%;
          display: flex;
          flex-direction: column; 
          align-items: center;
    

          .linea-de-pantalla-baja {
      
            height: 18%;
            width: 70%;
            margin: 0.5%;
        background-color: brown;
          }
          .escritura {
            width: 50%;
            height: 11%;
            background-color: rgb(173, 173, 173);
            margin: 0.5% ;
          }
          .escritura-chica {
            width: 40%;
            height: 11%;
            background-color: rgb(173, 173, 173);
           margin: 0.5%;
          }
        }

        .pantalla-baja-parte-de-pantallas { 
          height: 35%;
          width: 100%;
          display: flex;
          flex-direction: row;
         justify-content: space-around;


          .pantalla-chica { 
            height: 80%;
            width: 12%;
            margin: 2%;

            background-color: rgb(49, 192, 192);
            
          }
        }

        .parte-de-abajo-de-pantalla-baja { 
          height: 25%;
          width: 100%;
          display: flex;
          flex-direction: row; 
          justify-content: center;
         
          
           .teo-wengro-escritura { 
           width: 100%;
           height: 100%;
            margin: 0.5% ;
           display: flex;
           flex-direction: column;
           align-items: center;

         .nico-eltes-reglon-de-escritura-grande {

     background-color: brown;
     height: 18%;
     width: 50%;
    margin: 1%;
         }
           .valen-suez-reglon-de-escriutra- { 
            background-color: rgb(173, 173, 173);
            width: 50%;
            height: 11%;
            margin: 0.5% 
           }
           }
        }
    }
    
  }


.barra-abajo { 
    width: 95%;
    height:8%;
    background-color: rgb(99, 99, 116);
    display: flex;
  flex-direction: row;
 

.lado-izq-barra-baja   {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 .linea-grande {
    width: 80%;
    height: 30%;
    background-color: rgb(173, 173, 173);
    
 }
}

.lado-der-barra-baja {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: center;

    
.linea {
    width: 25%;
    height: 30%;
    background-color: rgb(173, 173, 173);
    margin: 2%;
}
}
 
    
}
  



}
